.boxch{
    width: 65%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: .6rem;
    margin-right: 1rem;
    padding:.02rem .4rem;
    border-radius: 5px;
    background: rgb(188, 184, 184);
    font-size: .7rem;
    margin-bottom: .6rem;
    
    border-radius: 5px;
    border: none;
    box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
    transition: all .3s ease-in;    

}
.boxtrue{
    width: 65%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-top: .6rem;
    margin-bottom: .6rem;
    margin-right: 1rem;
    padding:.02rem .4rem;
    border-radius: 5px;
    background: rgb(29, 47, 138);
    font-size: .7rem;
    transition: all .3s ease-in;    
    border-radius: 5px;
    border: none;
    box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
}
.boxtrue .txt{
    color: #fff;
}
.txt{
    font-size: .7rem;
    color: rgb(34, 34, 35);
    margin-left: 2rem;
}
.imgchek{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


@media (max-width: 1350px){
    .boxch, .boxtrue{
        width: 85%;
        height: 2rem;
        margin-top: 2rem;
    }   
   }
@media (max-width: 700px){
 .boxch, .boxtrue{
     width: 85%;
     height: 2rem;
     margin-top: 2rem;
 }   
}