.footer-res{
    width: 100%;
    overflow: hidden;
}
.footer-res-target{
    background: var(--blue-dark);
    display: block;
    /* height: 20rem; */
}
.footer-res-box1, .footer-res-box2{
    /* margin: 0 1rem; */
    padding: 1rem 0;
    position: relative;
    /* border-bottom: 2px solid var(--green-light); */
}
.footer-res-box3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 1rem 0;
}
.footer-res-box1::after{
    content: "";
    width: 90%;
    height: 3px;
    background: var(--green-light);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-res-textbox{
    width: 100%;
    margin: 1rem 0;

}
.footer-res-text{
    font-size: 1rem;
    font-weight: 400;
    padding: 0 1rem;
    /* white-space: wrap;
    word-break: keep-all; */
    color: #fff;
}
.footer-res-textbox a{
    text-decoration: none;
    color: antiquewhite;
    font-size: 1rem;
    padding: 0 1rem;
    font-weight: 400;
}
.footer-res-box2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-res-logo-target{
    padding: 1rem 1rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-res-h2{
    font-size: 1.3rem;
    
    color: #fff;
    position: relative;
}
.footer-res-box2::after{
    content: "";
    width: 90%;
    height: 3px;
    background: var(--green-light);
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.footer-res-logo-box{
    background: black;
    margin-top: 1rem;
}
.footer-res-img-prime{
    width: 60px;
    height: 60px;
}
.footer-res-img-seconde{
    width: 40px;
    height: 40px;
    /* margin-top: -3rem; */

}
.footer-res-icon{
    width: 4rem;

}
@media (min-width: 451px){
    .footer-res{
        display: none;
    }
}