

.changenum-1::after ,.changenum-1::before{

    content: "";
    width: 1.8rem;
    height: 6px;
    background: rgb(204, 238, 11);
    position: absolute;
    right: 1rem;
}

.changenum-1::after{
    top: 48%;
    transform: rotate(40deg);
}
.changenum-1::before{
    top: 53.5%;
    transform: rotate(-40deg);
}


.changenum-2::after ,.changenum-2::before{

    content: "";
    width: 1.8rem;
    height: 6px;
    background: rgb(204, 238, 11);
    position: absolute;
    left: 1rem;
}

.changenum-2::after{
    top: 48%;
    transform: rotate(-40deg);
}
.changenum-2::before{
    top: 53.5%;
    transform: rotate(40deg);
}

.leaseform{
    display: flex;
}
.hidden{
    display: none;
}
.fields{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    direction: 'rtl';
    height: 94%;
    margin-top: 1rem;
}
.rstb-field{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width:95%;
    position: relative;
}
.rstf3-sec{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
    direction: 'rtl';
}
.inp-no{
    border: 1px solid red;
}



.rstf-googelmapbox{
    width: 30rem;
    height: 30rem;
    border-radius: 6px;
    overflow: hidden;
}
.formbox{
    width: 65%;
    height: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    height: 100%;
    grid-gap: 10px;
    position: relative;
}
.selectbox, .inpcls{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-right: 1rem ;
}

.label{
    font-size: .7rem;
    color: rgb(29, 47, 138);
    padding: .3rem 0;

}
.select{
    font-size: .7rem;
    padding: .2rem ;
    width: 70%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
    background: #b7bab9;
}

.inp{
    background: #b7bab9;
    font-size: .5rem;
    padding: .2rem ;
    width: 67%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
}
.btn-box{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    margin-right: 1rem ;
}
.btn-box-ma{
    margin-bottom: -1rem;
}
.btn-box2{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
   margin-top: 2rem;
    margin-left: 1rem ;
}

.btnui{
   width: 40%;
   margin-right: .5rem;
   padding: .3rem 0;
   height: 2rem;
   border:1px solid rgb(29, 47, 138);
   border-radius: 5px;
   margin-bottom: 1rem ;
   color: rgb(29, 47, 138);
   font-size: 1rem;
}
.btnui:hover{
    background: rgb(160, 203, 160);
}
.btnui-ok{
    width: 40%;
    margin-right: .5rem;
    padding: .3rem 0;
    height: 2rem;
    border:1px solid rgb(29, 47, 138);
    border-radius: 5px;
    margin-bottom: 1rem ;
    color: rgb(29, 47, 138);
    font-size: 1rem;
    background: rgb(130, 179, 130);
}
.btn-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    margin-top: 1rem ;
}

.send1{
    position: absolute;
    bottom: -25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: .5rem;
    padding: .3rem 1rem;
    height: 2rem;
    border:none;
    border-radius: 5px;
    color: rgb(23, 23, 23);
    font-size: 1rem;
    box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
    background: rgb(188, 184, 184);
}
.send2{
    margin-right: .5rem;
    padding: .3rem 1.7rem .3rem 1.9rem;
    height: 2rem;
    border:none;
    position: relative;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
    background: green;
}
.inputfield-textarea{
    background: rgb(188, 184, 184);
    font-size: 1rem;
    padding: .2rem ;
    width: 67%;
    border-radius: 5px;
    border: none;
    box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
    max-width: 15rem;
    max-height: 2.7rem;
    min-width: 60%;
    min-height: 2rem ;
    width: 75%;
}
.uploadimage-label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(29, 47, 138);
}
.iconimg{
    width: 50px;
    height: 50px;
    margin-right: 1rem;
}
.imgtarget{
    width: 300px;
    height: 280px;
    position: relative;

}
.setimgbox{
    margin-top: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
}
.send{
   
    margin-right: .5rem;
    padding: .3rem 1rem;
    height: 2rem;
    border:none;
    border-radius: 5px;
    color: rgb(23, 23, 23);
    font-size: 1rem;
    box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
    background: rgb(188, 184, 184);
}

.btn-2-box{
    width: 100%;
    display: flex;
    padding: .7rem 0;
  margin-right: 1rem;
  margin-top: 1rem;
}

.spin{
    width: .4rem;
    height: .4rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 11%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: anim 1s infinite ;
}
.spin::before{
    content: "";
    width: .4rem;
    height: .4rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: -.3rem;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animbefore 1s infinite ;
}
.spin::after{
    content: "";
    width: .4rem;
    height: .4rem;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: .75rem;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: animafter 1s infinite ;
}
.delete-img{
    position: absolute;
    top: 0;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 2rem;
    height: 2rem;
    background: white;
    border-radius: 50%;
    z-index: 2000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes animbefore{
    0%{
        width: .55rem;
    height: .55rem;
    }
    20%{
        width: .48rem;
        height: .48rem;
    }
    30%{
        width: .4rem;
        height: .4rem;
    }
}
@keyframes anim{
    34%{
        width: .55rem;
    height: .55rem;
    }
    60%{
        width: .48rem;
        height: .48rem;
    }
    60%{
        width: .4rem;
        height: .4rem;
    }
}

@keyframes animafter{
    70%{
        width: .55rem;
    height: .55rem;
    }
    90%{
        width: .48rem;
        height: .48rem;
    }
    100%{
        width: .4rem;
        height: .4rem;
    }
}
.inp-one{
    width: 83%;
    height: 1.7rem;

}
.page-three{
    margin-top: 2rem;
    
    width: 20rem;
}
.special{
    grid-template-rows: 100%;
    width: 80%;
    /* padding: 1rem 3rem;     */
}
@media (max-width: 1350px){
    .leaseform{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column-reverse;
    }
    .fields{
        flex-direction: column;
    }
    .inp-res{
        width: 80%;
        height: 2rem;
        font-size: .8rem;
    }
    .inputfield-textarea{
        background: rgb(188, 184, 184);
        font-size: 1rem;
        padding: .2rem ;
        border-radius: 5px;
        border: none;
        box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
        max-width: 90%;
        max-height: 3.5rem;
        min-width: 60%;
        min-height: 3.5rem ;
        width: 90%;
    }
}
@media (max-width:1000px ){

   
    .rstf-googelmapbox{
        width: 90%;
        height: 20rem;
        margin: 2rem 0;
        overflow: hidden;
    }
    .formbox{
        width: 90%;
       
    }
  
    
}

@media (max-width:1000px ){

    .rstf-googelmapbox{
        width: 90%;
        height: 30rem;
        margin: 2rem 0;
        overflow: hidden;
    }
    
}
@media (max-width: 700px){
    .formbox{
        grid-template-columns: 90%;
    }
    .send1{
        position: absolute;
        bottom: -10%;
        left: 50%;
    }
    .inp-res{
        width: 90%;
        height: 2rem;
        font-size: .8rem;
    }
    .inputfield-textarea{
        background: rgb(188, 184, 184);
        font-size: 1rem;
        padding: .2rem ;
        border-radius: 5px;
        border: none;
        box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
        max-width: 90%;
        max-height: 3.5rem;
        min-width: 60%;
        min-height: 3.5rem ;
        width: 90%;
    }
}
@media (max-width: 500px){
    .btnui-ok, .btnui{
        font-size: .7rem;
    }
}
@media (max-width: 350px){
    .inputimg{
        width: 70%;
        height: 70%;
    }
    .send,.send1,.send2{
        font-size: .9rem;
    }
   
}

