.modal-target{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 800000000000; 
    background: rgba(33, 32, 32, 0.379);
}

.modal-box{
    width: 30rem;
    height: 20rem;
    z-index: 410000000000;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    animation: modalanim 1s forwards;
}
.modal-close-box{
    position: absolute;
    right: 3rem;
    top: 3rem;
    z-index: 1000000000;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    padding: .4rem .5rem .3rem .5rem;
    background: rgb(231, 226, 226);
    box-shadow: 0 .1rem .2rem rgb(32, 31, 31);
    cursor: pointer;
    transition: all .2s ease;
     
}
/* .modal-close-box:hover{
    position: absolute;
    right: 3rem;
    top: 3.1rem;
} */
.modal-close{
    
    width: 2.4rem;
    height: 2rem;
    z-index: 80000000;
    
}

@keyframes modalanim{
    from{
        position: absolute;
        top: -40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    to{
        position: absolute;
        left: 50%;
    top: 40%;
        transform: translate(-50%,-50%);
    }
}

@media (max-width:550px){
    .modal-box{
        width: 25rem;
    }
    .modal-close-box{
        position: absolute;
        right: 1rem;
        top: 2rem;
    }
}


@media (max-width:460px){
    
    .modal-box{
        width: 19rem;
        position: absolute;
        left: 53%;
    top: 40%;
        transform: translate(-50%,-50%);
        animation: modalanimres forwards 1s;
    }
    /* .modal-close-box{
        position: absolute;
        right: -1rem;
       
    } */
}

@media (max-width:390px){
    
    /* .modal-close-box{
        position: absolute;
        right: -1rem;
        padding: .2rem .2rem 0rem .2rem;
    } */
    .modal-box{
        width: 18rem;
        position: absolute;
        left: 53%;
    top: 40%;
        transform: translate(-50%,-50%);
        animation: modalanimres forwards 1s;
    }
   
}

@media (max-width:340px){
    .modal-box{
        width: 16rem;
        position: absolute;
        left: 53%;
    top: 40%;
        transform: translate(-50%,-50%);
        animation: modalanimres forwards 1s;
    }
    /* .modal-close-box{
        position: absolute;
        
        
    } */
}

@keyframes modalanimres{
    from{
        position: absolute;
        top: -40%;
        left: 53%;
        transform: translate(-50%,-50%);
    }
    to{
        position: absolute;
        left: 53%;
    top: 40%;
        transform: translate(-50%,-50%);
    }
}