.search{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.align-items-start{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
  
}
.align-items-start-cop{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
}
.container{
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-content-md-center{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.search .search-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
  /* border: 1px solid; */
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0 0 14px 0 #0000002e;
  margin-top: 50px;
  padding: 15px;
}
.search .search-box .tab-content {
  width: 100%;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: red; */
}
/* .search .search-box .tab-content .tab-pane form.kharid {
  display: flex;
  width: 1200px;
  justify-content: center;
  justify-content: space-around;
  flex-flow: row wrap;
  
  margin: 20px 0;
} */
.kharid{
  width: 100%;
 height: 10rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.tabbar-whatsapp{
  font-size: 1.3rem;
  font-weight: 700;
  padding: .3rem .7rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.tab-whatsapp{
  margin-right: 1.2rem;
}
.tabbar-whatsapp-text{
  margin-left: .7rem;
  margin-top: -.5rem;
}
.rents{
  width: 100%;
  height: 10rem;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.filter-box, .responesive-select{
  height: 2.3rem;
  width: 85%;
}
.searchrent-box{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.select-search{
  font-size: 1rem;
  padding: .2rem ;
  width: 75%;
  border-radius: 5px;
  border: none;
  box-shadow: 0 .1rem .3rem rgb(99, 97, 97);
  background: #b7bab9;
}
/* .select-search:hover{
  background: red;
} */
.select-search::placeholder{
  color: #111;
}
.search-ok{
  padding: .4rem 3rem;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  background: #373a50;
  box-shadow: 0 .1rem .2rem #111;
  margin-bottom: -1.9rem;
}
.search-ok:disabled{
  background: #999999;
  cursor: not-allowed;
}
.extra{
  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
.extra-btn{
  padding: .4rem 1rem;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 1rem;
  background: #0d6efd;
  box-shadow: 0 .1rem .2rem #111;
  margin-bottom: 0rem;
  margin-right: 1rem;
  
}
.nav-links-active{
  border: none;
    border-bottom: 2px solid rgb(37, 65, 131) ;
    background: rgb(37, 65, 131);
    padding: .4rem 0;
    width: 100%;
    outline: none;
    font-size: .9rem;
    font-weight: 100;
    color: rgb(255, 255, 255);
    white-space: nowrap;
}
.notvl{
  background: rgb(231, 129, 129);
}
.nav-link-cop{
  border: none;
  padding: .4rem 1.2rem;
  margin: 0 1rem;
  outline: none;
  font-size: .9rem;
  width: 100%;
  color: black;
}
.paragraph{
  width:90%;
  word-break: keep-all;
  font-size: 1rem;
  height: 20rem;
   
}
.search .search-box .tab-content .tab-pane form.kharid select {
  width: 150px;
  margin: 0 10px;
  padding: 5px;
  border-radius: 10px;
  background: #eeeeee;
  border: 0;
  box-shadow: 0 0 10px 0 #9b9b9b;
}
.search .search-box .tab-content .tab-pane form.kharid select option {
  padding: 5px 0;
  border-bottom: 1px solid #ffffff;
}
.search .search-box .tab-content .tab-pane form.kharid button {
  border: navajowhite;
  background: #3bb15d;
  padding: 5px 30px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 0 10px 0 #3bb15d;
  margin-right: 10px;
  justify-content: center;
}
.search .search-box .tab-content .tab-pane form.kharid button svg {
  margin-right: 10px;
  margin-top: 0;
  font-size: 18px;
}
.search .search-box li {
  display: flex;
  align-items: center;
}
.search .search-box li:last-child {
  border-left: unset;
}
.search .search-box li button {
  font-weight: 600;
}


.search .search-box .nav-pills {
  width: 100%;
  border-bottom: 2px solid #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.search .engineering {
  padding: 10px 50px;
  transition: all 1s ease-in-out;
}
.search .engineering .buttons {
  border: 2px solid #eeeeee;
  padding: 5px;
margin-top: .7rem;
}

.nav-pills3{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 18rem;
}
.search .engineering .buttons .nav-link {
  border: none;
  background: transparent;
  white-space: nowrap;
  padding: .4rem 0;
  width: 100%;
  outline: none;
  font-size: 1rem;
  font-weight: 100;
  color: rgb(22, 22, 22);
}
.shows{
  width: 100%;
}
.search .engineering .shows form.engener {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid #eeeeee;
  padding: 5px;
  height: 100%;
  width: 100%;
}

.search .engineering .shows form.engener span {
  text-align: right;
  padding-right: 10px;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin: 10px 0;
}
.search .engineering .shows form.engener .foorm {
  display: flex;
  flex-direction: wrap;
  align-items: center;
  width: 100%;
  justify-content: center;
  margin: 20px 0 27px;
}
.tab-content7{
  width:100% ;
}
.search .engineering .shows form.engener .foormm input[type=text] {
  margin: .5rem 0 0.5rem 10px;
  padding: .4rem .5rem;
  border-radius: 5px;
  width: 80%;
  border: 1px solid #7d7e7e;
  
}

.realstatemanager-modal{
    z-index: 200000;
    width: 100%;
    height: 20rem;
    background: rgb(241, 238, 238);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 12px;
}
.realstatemanager-h3-box{
  margin: 1rem;
  font-size: 1rem;
}
.realstatemanager-modal-box-btn-box{
  width: 120px;
  padding: .4rem ;
  font-size: 1rem;
  background: green;
  border: none;
  color: #fff;
  outline: none;
  border-radius: 6px;
}
.red{
  background: red;
  z-index: 100;

}
.search .engineering .shows form.engener .foormm button[type=submit] {
  border: navajowhite;
  background: #3bb15d;
  padding: 5px 30px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  align-items: center;
  box-shadow: 0 0 4px 0 #3bb15d;
}
.search .engineering .shows .p-box {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid #eeeeee;
  padding: 15px 25px;
  height: 343px;
  width: 100%;
  overflow: auto;
}
.search .engineering .shows .p-box p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.8rem;
}
.search .engineering .shows .slider-box {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid #eeeeee;
  padding: 5px;
  min-height: 343px;
  width: 100%;
  overflow: auto;
  justify-content: flex-start;
  align-items: center;
}
.search .engineering .shows .slider-box .header {
  width: 100%;
  text-align: center;
}
.search .engineering .shows .slider-box span {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin: 10px 0;
}
.search .engineering .shows .slider-box p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.8rem;
  
}
.search .engineering .shows .slider-box .nemone-box {
  height: 22rem;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;


}


.search .engineering .shows .slider-box .nemone-box a img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.search .engineering .shows .slider-box .nemone-box a h3 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  background: #3333339e;
  margin: 0;
  padding: 10px 0;
  color: #ffffff;
}
.search .investment {
  padding: 10px 50px;

}
.search .investment .buttons {
  border: 2px solid #eeeeee;
  padding: 5px;
}

.search .investment .shows form.kharid-2 {
  display: inline-flex;
  justify-content: center;
}
.search .investment .shows form.kharid-2 select {
  width: 150px;
  margin: 0 10px;
  padding: 5px;
  border-radius: 10px;
  background: #eeeeee;
  border: 0;
  box-shadow: 0 0 10px 0 #9b9b9b;
}
.search .investment .shows form.kharid-2 select option {
  padding: 5px 0;
  border-bottom: 1px solid #ffffff;
}
.search .investment .shows form.kharid-2 button {
  border: navajowhite;
  background: #3bb15d;
  padding: 5px 30px;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  display: inline-flex;
  align-items: center;
  box-shadow: 0 0 10px 0 #3bb15d;
  margin-right: 10px;
  justify-content: center;
}
.search .investment .shows form.kharid-2 button svg {
  margin-right: 10px;
  margin-top: 0;
  font-size: 18px;
}
/* .search .investment .shows form.engener {
  display: inline-flex;
  flex-direction: row;
  border: 2px solid #eeeeee;
  height: 100%;
  width: 100%;
  padding: 30px 0;
}
.search .investment .shows form.engener span {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin: 10px 0;
}
.search .investment .shows form.engener .foormm {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.search .investment .shows form.engener .foorm input[type=text] {
  margin: 0 0 15px 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7d7e7e;
}
.search .investment .shows form.engener .foorm button[type=submit] {
  border: navajowhite;
  background: #3bb15d;
  padding: 5px 30px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  align-items: center;
  box-shadow: 0 0 4px 0 #3bb15d;
}
.search .investment .shows form.engener-2 {
  display: inline-flex;
  flex-direction: row;
  border: 2px solid #eeeeee;
  height: 100%;
  width: 100%;
  padding: 30px 0;
}
.search .investment .shows form.engener-2 span {
  text-align: revert;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin: 0 0 20px;
  padding-right: 20px;
}
.search .investment .shows form.engener-2 .foorm {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
} */
.tab-pane{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.foorm-div{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.engener-2{
  width: 70%;
  margin: 1rem 0;
  /* margin-left: 5rem; */
}
.search .investment .shows form.engener-2 .foorm .form-check {
  margin: 10px 0;
 
}
.form-check input[type =checkbox]{
  margin:0 .5rem;
}
/* .form-check{
  display: flex;
  background: #0d6efd;
} */
.search .investment .shows form.engener-2 .foorm input[type=text] {
  margin: 0 0 15px 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #7d7e7e;
}
.search .investment .shows form.engener-2 .foorm button[type=submit] {
  border: navajowhite;
  background: #3bb15d;
  padding: 5px 30px;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  align-items: center;
  box-shadow: 0 0 4px 0 #3bb15d;
}
.search-ok-cop{
  margin-right: 7rem;
}
.search .investment .shows .p-box {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid #eeeeee;
  padding: 15px 25px;
  height: 343px;
  width: 100%;
  overflow: auto;
}
.search .investment .shows .p-box p {
  font-size: 1rem;
  text-align: justify;
  line-height: 1.8rem;
}
.search .investment .shows .slider-box {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid #eeeeee;
  padding: 5px;
  height: 343px;
  width: 100%;
  overflow: auto;
  justify-content: space-around;
  align-items: center;
}
/* .search .investment .shows .slider-box .header {
  width: 100%;
  text-align: center;
} */
.search .investment .shows .slider-box span {
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  margin: 10px 0;
}
.search .investment .shows .slider-box p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.8rem;
}
.search .investment .shows .slider-box .nemone-box {
  
  overflow: hidden;
}
.sampels{
  position: relative;
  height: 100%;
  display: block;
}
.sampels-img {
  object-fit: cover;
  width: 100%;
  height: 65%;
}
.more-text{
  padding-bottom: 4rem;
  transition: all 1s ease;
}
.small-text{
  height: 188px;
  
}
.sampels-h3 {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  background: #3333339e;
  margin: 0;
  padding: 10px 3px;
  z-index: 1;
  color: #ffffff;
}

.posts .tabs {
  margin-top: 150px;
}
.posts .tabs nav .nav-tabs {
  justify-content: center;
}
/* .posts .tabs nav .nav-tabs .nav-link {
  color: #333333;
  background-color: transparent;
  border: unset;
  font-weight: 100;
  padding: .4rem 0;
  font-size: .8rem;
  
} */
.posts .tabs nav .nav-tabs .active {
  border: unset;
  font-weight: 600;
  font-size: 18px;
  border-bottom: 5px solid #3bb05d;
}

/* .sampels{
  width: 100%;
  height: 4rem;
  position: relative;
}
.sampels-img{
z-index: 1000;
  
} */

.selectbox-bx{
  width: 100%;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}
/* .selectbox-sales{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-right: 1rem ;
} */
.show {
  display: block !important;
}
.nav-link2{
  background-color: inherit;
  border: none;
    padding: .4rem 1.2rem;
    margin: 0 1rem;
    outline: none;
    font-size: 1rem;
    color: black;
}
.search .search-box li .nav-link.active {
  color: #333333;
  border-bottom: 4px solid #0d6efd;
  background-color: transparent;
  font-size: 1rem;
  padding: .4rem 1.2rem;
  white-space: nowrap;
}
.select-responsive{
   padding: .5rem 1.4rem;
   border-radius: 6px;
   font-size: 1rem;
   font-weight: 600;
}


/* responsive */
@media (max-width: 1070px){
  .search .search-box li .nav-link.active, .nav-link2{
    font-size: 1rem;
    white-space: nowrap;
  }
  .container{
    width: 90%;
  }
  .search .search-box{
    width: 100%;
  }
}
@media (max-width:900px){
  .engener-2{
  width: 100%;
  margin: 1rem 0;
  /* margin-left: 5rem; */
}
.search-ok-cop{

  margin-right: 2rem;
}

  .extra{
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .rents{
    width: 100%;
    height: 15rem;
    display: grid;
    grid-template-columns:  33% 33% 33%;
    }
  .searchrent-box{
    grid-column: 1/4;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .align-items-start-cop{
      display: flex;
      flex-direction: column;
  }
  .nav-link2{
      font-size: 1rem;
      margin: 0 .5;
      padding: .4rem;
  }
  .nav-pills3{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .search .search-box li .nav-link.active{
    font-size: 1rem;
    margin: 0 .5;
    padding: .4rem;
  }
  .buttons-cop{
    width: 100%;
    padding: 0;
   
  }
 
  .foormm{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 10rem;
  }
  .nav-pills{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .kharid{
    width: 100%;
 height: 15rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  }
  .container{
    width: 80%;
  }
  .nav-links-active{
    width: 100%;
  }
  .search .investment .shows form.engener-2{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
  .form-check{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .foorm-div{
    width: 100%;
    padding: 1rem 0;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width:750px){
  .buttons-responsive{
    display: none;
  }
}
@media (max-width:750px){
  .sampels{
    display:flex ;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 188px;
  }
  .engineering{
    width: 100% !important;
    /* margin: 0 auto; */
    /* background: rgb(113, 110, 110)!important; */
    padding: 0 !important;
    margin: 0 !important;
    margin-top: 1rem !important;
  }
  .align-items-start{
    width: 100% !important;
    margin: 0 !important;
    /* background: red !important; */
    padding: 0 !important;
    /* margin: 0; */
  }
  .tab-content,.tab-pane, .shows{
    padding: 0 !important;
    width: 100% !important;
    margin: 0  !important;
    /* background: #0d6efd !important; */
  }
  .tab-pane{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .search .investment {
    padding: 10px 10px;
    
    width: 80%;
  }
  .align-items-start-cop{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}
.nav-link-cop{
  margin: 0;
  padding: .4rem .7rem;
  font-size: 1.1rem;
  width: auto;
  letter-spacing: -1px;
}
.nav-links-active{
  margin: 0;
  padding: .4rem .7rem;
  font-size: 1.1rem;
  width: auto;
  letter-spacing: -1px;
}

.buttons-cop{
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.nav-pills3{
  display: flex;
  flex-direction: row;
  width: 100%;
 
}
/* .nav-link2{
    font-size: 1rem;
    margin: 0 .5rem;
    padding: .4rem;
} */

  
  .align-items-start-cop{
    display: flex;
    flex-direction: column;
}
  .align-items-start{
    width: 25rem;
    margin: 0 auto;
  }
  .search .search-box .tab-content {
    width: 70%;
    margin: 0 auto;
  }
  .nav-link2{
      font-size: 1rem;
      
  }
  .engener .foorm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .buttons{
    display: none;
  }
  .buttons-cop{
    width: 100%;
    
    padding: 0;
  }
  .align-items-start{
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .nav-pills{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link3{
    font-size: 1rem;
    font-weight: 200;
  }
  .search .search-box li .nav-link.active, .nav-link2{
    font-size: 1rem;
  }
  .kharid,.rents{
    width: 100%;
 height: 11rem;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  }
  .label{
    font-size: .9rem;
  }
  .container{
    width: 95%;
    
  }
  .search .engineering {
    padding: 10px 10px;
  }
  .search .engineering .shows .slider-box p{
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
  .slider-box .row{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
 
}

@media (max-width: 700px){
  .nav-item-responsive{
    display: none;
   
  }
  .kharid, .rents{
    width: 100%;
    height: 21rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
    }
    .search .search-box{
      width: 80%;
      
    }
    .responesive-select, .filter-box{
      width: 90%;
      
    }
    .extra{
      margin-top: 3rem;
    }
}
@media (max-width: 553px){
  .search .search-box{
    width: 95%;
  }
}
@media (max-width:530px){
  .select-search{
    width: 90%;
  }
  .nav-link-cop{
    margin: 0;
    padding: .4rem .6rem;
    font-size: .9rem;
    letter-spacing: 0;
  }
  .nav-links-active{
    margin: 0;
    padding: .4rem .6rem;
    font-size: .9rem;
    letter-spacing: 0;
  }
  .align-items-start-cop{
    display: flex;
    flex-direction: column;
}
  .align-items-start{
    width: 20rem;
    margin: 0 auto;
    
  }
  .buttons-cop{
    width: 100%;
    
    padding: 0;
  }
}
@media (max-width:510px){
  
  .kharid, .rents{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    }
    .search .search-box{
      width: 80%;
    }
    .responesive-select{
      width: 90%;
    }
    .extra{
      margin-top: 3rem;
    }
  .nav-link2{
      font-size: 1rem;
      padding: .4rem .4rem;
      margin: 0 .4rem;
      font-weight: 700;
      
  }
  .search .search-box li .nav-link.active{
    font-size: 1rem;
    padding: .4rem .4rem;
    margin: 0 .4rem;
    font-weight: 700;
  }
  /* .kharid{
  width: 100%;
  height: 16rem;
  display: grid;
  grid-template-columns:  50% 50%;
  } */
  .searchrent-box{
      grid-column: 4/1;

  }
  .label{
    font-size: .8rem;
  }

  .container{
    width: 97%;
    
  }
 
}

@media(max-width: 468px){


  .select-responsive, .nav-link3{
    padding: .5rem .4rem;
    border-radius: 6px;
    font-size: .9rem;
    font-weight: 700;
 }
 .search .engineering .shows form.engener span{
   font-size: 1rem;
 }

  .nav-link2{
    font-size: .9rem;
    margin: 0 .35rem;
    padding: .4rem .3rem;
}
.search .search-box li .nav-link.active{
  font-size: .9rem;
  padding: .4rem .3rem;
  margin: 0 .3rem;
}
}
@media( max-width: 450px){
 
  .nav-item{
    
    margin: 0 1rem 0 0rem;
  }
  
}
@media (max-width:410px){
  .search{
    margin-top: -2rem;
  }
  .nav-link2{
      font-size: .9rem;
      margin: 0 .35rem;
      padding: .4rem 0;
  }
  .search .search-box li .nav-link.active{
    font-size: .9rem;
    padding: .4rem .3rem;
    margin: 0 .1rem;
  }
    .nav-links-active{
      font-size: 10px;
      padding-left: .2rem;
      padding-right: .2rem;
    }

    .label{
      font-size: .9rem;
    }
  .container{
    width: 99%;
    
  }

  .search .search-box .tab-content {
    width: 90%;
    margin: 0 auto;
  }
  /* .kharid,.rents{
    width: 100%;
    height: 16rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    } */
    .responesive-select{
      width: 90%;
    }
    .extra{
      margin-top: 3rem;
    }

}
@media (max-width: 394px){
  .nav-link2{
    font-size: .8rem;
    margin: 0 .35rem;
    padding: .4rem 0;
}
.search .search-box li .nav-link.active{
  font-size: .8rem;
  padding: .4rem .3rem;
  margin: 0 .1rem;
}
.nav-link-cop{
   
  font-size: .8rem;
  padding-left: .3rem;
  padding-right: .3rem;
  letter-spacing: -1px;
}

}
@media (max-width:350px){
  .nav-link-cop{
   
    font-size: .8rem;
    padding-left: .15rem;
    padding-right: .15rem;
    
  }
  .nav-link2{
    font-size: .8rem;
    margin: 0 .15rem;
    padding: .4rem 0;
}
.search .search-box li .nav-link.active{
  font-size:.8rem;
  padding: .4rem .15rem;
  
}
  
 
  /* .kharid, .rents{
  width: 100%;
  height: 14.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  } */
  .responesive-select{
    width: 90%;
  }
  .extra{
    margin-top: 3rem;
  }
    .label{
      font-size: .9rem;
    }
  .container{
    width: 99%;
    
  }
  .nav-item{
    
    margin: 0 .5rem;
  }
}

@media (max-width: 318px){
  .nav-link2{
    font-size: .73rem;
    margin: 0 .15rem;
    padding: .4rem 0;
}
.search .search-box li .nav-link.active{
  font-size: .73rem;
  padding: .4rem .3rem;
  margin: 0 .1rem;
}
}

@media (max-width:290px){
  .nav-item{
    
    margin: 0 .3rem;
  }
  .nav-link2{
    font-size: .6rem;
    margin: 0 .2rem;
    padding: .4rem 0;
}
.search .search-box li .nav-link.active{
  font-size: .6rem;
  padding: .4rem .1rem;
  margin: 0 .1rem;
}
  .nav-link-cop{
   
    font-size: .8rem;
    padding-left: .2rem;
    padding-right: .2rem;
    
  }
  .nav-links-active{
    padding-left: .2rem;
    padding-right: .2rem;
    font-size: .8rem;
  }
  .select-responsive{
    padding: .5rem .4rem;
    border-radius: 6px;
    font-size: .8rem;
    font-weight: 300;
 }
  .search .search-box li .nav-link.active{
    font-size: .65rem;
    padding: .4rem .1rem;
    margin:0  4px;
    /* margin: 0 .1rem; */
  }
 
  /* .kharid,.rents{
  width: 100%;
  height: 14.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  } */
  .responesive-select{
    width: 90%;
  }
 
    .label{
      font-size: .8rem;
    }
  .container{
    width: 99%;
    
  }
}