
.changenum1::after ,.changenum1::before{

    content: "";
    width: 1.4rem;
    height: 2px;
    background: rgb(236, 228, 228);
    position: absolute;
    right: 1rem;
}
.leaseform-update{
    background: red;
    width: 80%;
}
.send2:disabled{
    cursor: not-allowed;
    background: rgb(153, 152, 152);
}
.changenum1::after{
    top: 48%;
    transform: rotate(40deg);
}
.changenum1::before{
    top: 53.5%;
    transform: rotate(-40deg);
}

.special{
    width: 80%;
}
.changenum2::after ,.changenum2::before{

    content: "";
    width: 1.4rem;
    height: 2px;
    background: rgb(236, 228, 228);
    position: absolute;
    left: 1rem;
}

.changenum2::after{
    top: 48%;
    transform: rotate(-40deg);
}
.changenum2::before{
    top: 53.5%;
    transform: rotate(40deg);
}

.leaseform{
    display: flex;
}
.hidden{
    display: none;
}
.fields{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    direction: 'rtl';
}

.btnui{
    width: 40%;
    margin-right: .5rem;
    padding: .3rem 0;
    height: 2rem;
    border:1px solid rgb(29, 47, 138);
    border-radius: 5px;
    margin-bottom: 1rem ;
    color: rgb(29, 47, 138);
    font-size: 1rem;
 }
 .btnui:hover{
     background: rgb(160, 203, 160);
 }
 .btnui-ok{
     width: 40%;
     margin-right: .5rem;
     padding: .3rem 0;
     height: 2rem;
     border:1px solid rgb(29, 47, 138);
     border-radius: 5px;
     margin-bottom: 1rem ;
     color: rgb(29, 47, 138);
     font-size: 1rem;
     background: rgb(130, 179, 130);
 }
/* .btnui-ok{
    background: green;
}
.btnui{
    background: red;
} */