
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20rem;
    pointer-events: auto;
    background-color: #373950;
    background-clip: padding-box;
    border: 0;
    border-radius: 15px;
    padding: 10px;
    outline: 0;
    box-shadow: 0 0 14px 0 #0000002e;
    z-index:10000 ;
  }
  .header-head{
    width: 100%;
    /* background: rebeccapurple; */

  }
  .modal-content .modal-body {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 90%;
    margin: auto;
    
  }
  .modal-content .modal-body form {
    width: 100%;
    min-height: 12rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .btn-close{
    z-index: 80000000;
  }
   .modal-content .modal-body form textarea {
    margin: 0 0 10px;
    padding: 12px 10px;
    border-radius: 5px;
    background: #cfd1d5;
    border: 0;
    max-width: 96%;
    min-width:95% ;
    min-height: 3rem;
    max-height: 5rem;
    font-size: 1rem;
  }
  .modal-content .modal-body form select{
    margin: 0 0 10px;
    padding: 12px 10px;
    border-radius: 5px;
    background: #cfd1d5;
    border: 0;
    width: 100%;
    font-size: 1rem;
  }
  .submit {
    border: none;
    background: #3bb15d;
    padding: 12px 30px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  .input-phone{
    margin: 0 0 10px;
    padding: 12px 10px;
    border-radius: 5px;
    background: #cfd1d5;
    border: 0;
  }
  .input-phone-notvalid{
    margin: 0 0 10px;
    padding: 12px 10px;
    border-radius: 5px;
    background: #ea705a;
    border: 0;
  }
  .modal-content .modal-body p {
    padding: 2rem 0;
    width: 97%;
    border-radius: 12px;
    background:#3bb15d ;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
  }

* {
  margin: 0;
  padding: 0;

}

.containerone {
  width: 90%;
  margin: 0 auto;
  border-bottom: 3px solid #373950;
  
  position: relative;
}
.header-fixed{
  width: 100%;
  
  
}
.row {
  display: flex;
}
.nav-menu {
  margin: 2.5rem 0;
}
.list {
  display: flex;
  list-style-type: none;
}
.list-item {
  margin: 0 0.5rem;
  font-size: 14px;
}

.list-item-link {
  text-decoration: none;
  color: #373950;
}
.list-item-link:hover {
  color: #3fc899;
  transition: 0.3s;
}

.drawer-target{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.drawer-target-img{
  width: 40px;
  height: 40px;
}

.header-logo-area {
  width: 200px;
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  text-align: center;
  position: relative;
  display: none;
  margin-left: -3rem;
}

.header-logo-area img {
  width: 100%;
  height: 50px;
}

.header-logo-area p {
  font-size: 8px;
  font-weight: 900;
  text-align: center;
  margin-top: -1rem;
  color: #8e9091;
}

.drop-down-menu-berger {
  margin: 2.5rem 0;
  display: none;
}
.header-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.menu-more {
  display: flex;
  margin: 2rem 2rem;
  float: left;
}
.add-home {
  margin: 0 0.5rem;
}
.btn-add-home {
  width: 120px;
  white-space: nowrap;
  background-color: #d8d1d1;
  color: #373950;
  border: none;
  border-radius: 5px;
  padding: 5px 14px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 .2rem .3rem rgb(158, 154, 154);
}
.btn-add-home:hover {
  background-color: #3fc899;
  color: #f1f1f1;
}
.btn-add-home-link {
  text-decoration: none;
  color: #373950;
  font-size: 1rem;
  margin-right: .3rem;
}
.btn-add-home-link:hover {
  color: white;
 
}

/* Dropdown Button */
.dropbtn {
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #373950;
  color: #f1f1f1;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 5px 14px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 .2rem .3rem rgb(144, 144, 144);
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: #373950;
  transition: 0.3s;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-berger {
  position: relative;
  display: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  list-style: none;
  
  position: absolute;
  left: 0;
  top: 96%;
  background-color: #f1f1f1;
  width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  word-break: keep-all;
}

.dropdown-content li {
  color: black;
  padding: 12px 30px;
  display: flex;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
}
.baner-area {
  justify-content: center;
  text-align: center;
  width: 40%;
  margin: 5% auto;
  height: max-content;
  position: relative;
}
.baner-area img {
  width: 100%;
}
.baner-area p {
  text-align: justify;
  justify-content: center;
  position: absolute;
  top: 80%;
  right: 50px;
}
#myDropdown2 a {
  font-size: 14px;
}
.home-icon-res{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 0rem;
}
.btn-add-home-res{
  width: 120px;

background-color: #d8d1d1;
color: #373950;
border: none;
border-radius: 5px;
padding: 5px 0px;
text-align: center;
cursor: pointer;
transition: 0.3s;
display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 .2rem .3rem rgb(158, 154, 154);
}


@media (max-width: 576px) {
  .detaile {
    display: block;
  }
  .item-detaile {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .profile {
    display: block;
  }
  .user {
    width: 100%;
  }
  .footer {
    font-size: 11px;
  }
  .footer-copy-right {
    display: block;
    text-align: center;
  }
}

@media (max-width: 992px) {

  .header-menu {
    width: 100%;
    position: fixed;
    padding-top: 60px;
  }
  .nav-menu {
    position: absolute;
  }
  .header-menu-burger {
    display: inline-block !important;
  }
  .header-menu {
    display: none;
    width: 84%;
    margin: 0 auto;
  }
  .header-menu-item {
    display: block;
    border-bottom: 1px solid #cecece;
    padding: 10px 0;
  }
  .menu-more {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 1.5rem 0 0 0;
  }
  .btn-add-home {
    margin-bottom: 0.3rem;
  }
  .header-logo-area {
    display: block;
  }
  .menu-more{
    margin-bottom: .5rem;
  }
}
.header-homeitems{
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-homeitems-nav{
  text-decoration: none;
  color: #111;
  font-weight: 700;
}
.header-homeitems-nav-active{
  text-decoration: none;
  color: #111;
  border-bottom: 1px solid rgb(54, 172, 61);
}

@media (min-width:700px){
  .cooperationpage, .cooperationpage a{
    display: none;
  }
}
@media (min-width:991px) {
  .drawer-target{
    display: none;
  }
}
@media (max-width: 600px){

}
@media (max-width: 500px){
  .dropbtn{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #373950;
    color: #f1f1f1;
    border: none;
    font-size: .8rem;
    border-radius: 5px;
    padding: 5px px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 .2rem .3rem rgb(144, 144, 144);
  }
}
@media (min-width: 451px){
.home-icon-res{
  display: none;
}
}
@media (max-width:450px){
  .header-head{
    /* position: fi; */
    height: 8rem;

  }
  .add-home{
    display: none;
  }
  .btn-add-home-link-res{
    font-size: 1rem;
   text-decoration: none;
   color: #373950;
  }
 

  .header-fixed{
    background: #fff;
    position: fixed;
    z-index: 4000000000;
  }
  .btn-add-home-link{
    font-size: 13px;
    /* white-space: nowrap; */
  }
  .dropbtn{
    display: none;
  }
  .dropdown-content{
    display: none;
  }
  /* .header-item{

  } */
  .header-logo-area{
    /* position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%); */
    margin-right: -5rem;
    margin-bottom: .5rem;
  }
  .modal-content .modal-body form {
    width: 100%;
    min-height: 12rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
  .btn-close{
    z-index: 80000000;
  }
   .modal-content .modal-body form textarea {
    margin: 0 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #cfd1d5;
    border: 0;
    max-width: 96%;
    min-width:95% ;
    min-height: 3rem;
    max-height: 5rem;
    font-size: .8rem;
  }
  .modal-content .modal-body form select{
    margin: 0 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #cfd1d5;
    border: 0;
    width: 100%;
    font-size: .8rem;
    
  }
  .input-phone{
    margin: 0 0 10px;
    padding: 5px 10px;
    border-radius: 5px;
    background: #cfd1d5;
    border: 0;
  }
}
@media (max-width: 400px){
  .btn-add-home-res{
    z-index: 1000000000;
  }
  .modal-content .modal-body p {
    padding: 1rem .5rem;
    border-radius: 12px;
    background:#3bb15d ;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
  }
  .containerone{
    width: 96%;
  }
  .header-logo-area{
    /* width: 200px; */
    /* margin-left: -1.7rem; */
    margin-right: -4.5rem;
    margin-bottom: .5rem;
  }
  .header-logo-area img{
    height: 4rem;
  }
  .header-logo-area p{
    font-size: .7rem;
    font-weight: 100;
    white-space: nowrap;
    margin-right: -.7rem;
  }
  .btn-add-home-res{
    width: 100px;
  }
 
}
@media (max-width: 350px){
  .modal-content .modal-body form textarea {
    margin: 0 0 10px;
    padding: 12px 10px;
    border-radius: 5px;
    background: #cfd1d5;
    border: 0;
    max-width: 92%;
    min-width:92% ;
    min-height: 3rem;
    max-height: 5rem;
    font-size: 1rem;
  }
  .btn-add-home {
    width: 100px;
    margin-left: -.7rem;
  }
  .drawer-target-img{
    width: 30px;
    height: 30px;
  }
  .containerone{
    width: 95%;
  }
  /* .header-logo-area{
    width: 170px;
   
  } */
  .btn-add-home-link{
    font-size: 10px;
  }
  .btn-add-home-link-res{
    font-size: .8rem;
    
    white-space: nowrap;
   
  }
  .btn-add-home-res{
    width: 90px;
  }
  .btn-add-home-res{
    /* width: 120px; */
  
  background-color: #d8d1d1;
  color: #373950;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 .2rem .3rem rgb(158, 154, 154);
  }
  /* .header-logo-area p{
    font-size: .5rem;
    letter-spacing: -1px;
  } */
}

