

.footer {
    display: flex;
    flex-flow: column;
    direction: rtl;
}

.footer-email {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #303441;
}

.footer-email p {
    color: white;
    font-size: 16px;
}

.form-Newsletter {
    display: flex;
}

.form-Newsletter input {
    width: 25vw;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    padding: 30px;
    color: #000;
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0;
}

.Newsletter-btn {
    background-color: #FF4A52;
    color: #fff;
    padding: 16px 10px;
    border: 0;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin: 10px 0;
    font-family: 'Iranian Sans', sans-serif;
}

.logo-footer {
    width: 16vw;
    margin-bottom: 10px;
}

.footer-min {
    display: flex;
    justify-content: space-around;
    background-color: #303439;
    color: #fff;
    padding: 20px;
}

.coloum-footer1 {
    text-align: right;
}

.coloum-footer1 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
}

.coloum-footer1 ul {
    list-style: none;
    line-height: 2;
}

.coloum-footer1 i {
    color: gray;
    font-size: 20px;
    font-weight: bold;
    width: 30px;
}

.coloum-footer1 li:hover,
i:hover {
    color: #3bb15d;
}

.coloum-footer2 p {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    border-bottom: 2px solid #3bb15d;
    margin-bottom: 15px;
}

.coloum-footer2 ul {
    list-style: none;
    line-height: 1.7;
}

.coloum-footer2 ul li a {
    color: #fff;
    text-decoration: none;
}

.coloum-footer2 ul li a:hover {
    color: #3bb15d;
}

.inamad {
    align-items: center;
    margin-bottom: 15px;
}

.inamad h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    border-bottom: 2px solid #3bb15d;
    margin-bottom: 15px;
    text-align: center;
}

.soctioal h4 {
    font-size: 20px;
    font-weight: 400;
    line-height: 2;
    border-bottom: 2px solid #3bb15d;
    margin-bottom: 15px;
    text-align: center;
}

.soctioal ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.soctioal i {
    color: gray;
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}

.soctioal i:hover {
    color: #3bb15d;
}

.footer-copy-right {
    background-color: #303450;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}



@media (max-width: 1000px){

    .logo-footer{
        width: 50%;
        height: 5rem;
    }
}

@media(max-width:450px){
    .footer{
        display: none;
    }
}
@media (max-width: 400px){

    .logo-footer{
        width: 70%;
        height: 5rem;
    }
    .inamad-1{
        width: 50px;
        height: 50px;
    }
    .inamad-2{
        width: 100px;
        height: 100px;
    }
}