.container-src{

    width: 100%;
    
    
}
/* .card-headbox3{
    width: 90%;
    height: 2.5rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    margin: .2rem .5rem 0 0;
} */
.field-searchresult{
    margin-right: -2.2rem;
}
.tab-content1{
    width: 100%;
    margin: 0 auto;
    
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-flow: row wrap;
    
    padding: 1rem 0;

}
.card-mid-box3{
    position: relative;
    margin-top: .7rem;
}
/* .card-icons{
    margin-right: -1rem;
} */
.card-mid-box3::before{
    content: "";
    position: absolute;
    bottom: -10%;
    left: 60%;
    box-shadow: 0 .1rem .1rem rgb(192, 185, 185);
    transform: translate(-50%,-50%);
    width: 100%;
    height: 2px;
    background: #111;
}

.price{
    margin-right: -5rem;
}
.realstate-box-1{
    border-radius: 8px;
    overflow: hidden;
        width: 21rem;
        height: 25rem;
        margin: 1rem 1rem;
        background: inherit;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        box-shadow: 0 .4rem .4rem rgb(66, 65, 65);
        
        direction: rtl;
}
.card-imbox-1{
    width: 100%;
    height: 11rem;
    position: relative;
}
.card-imgbox-icon{
    position: absolute;
    left: 0;
    top: 0;
}
.lkl{
    margin-top: 1.5rem;
}
.price{
    letter-spacing: -1px;
}
.realstate-special-search{
    padding: .2rem .5rem;
    background-color: rgb(218, 44, 44);
    margin: 0 auto;
      position: absolute;
      font-size: .6rem;
      right: -2%;
      top: 16%;
      z-index: 1;
      transform: rotate(40deg);
      border-radius: 5px;
      color: #fff;
  }
.card-textandicon-search{
    margin: .5rem 0rem
}
@media (max-width: 700px){
    .card-mid-box3::before{
        content: "";
        position: absolute;
        bottom: -10%;
        left: 50%;
        box-shadow: 0 .1rem .1rem rgb(192, 185, 185);
        transform: translate(-50%,-50%);
        width: 100%;
        height: 2px;
        background: #111;
    }
}
@media (max-width: 600px){
    .realstate-box-1{
        width: 20rem;
        height: 29rem;
    }

    .price{
        letter-spacing: -1px;
    }
    /* .card-mid-box3::before{
        content: "";
        position: absolute;
        bottom: -40%;
        left: 50%;
        box-shadow: 0 .1rem .1rem rgb(192, 185, 185);
        transform: translate(-50%,-50%);
        width: 100%;
        height: 2px;
        background: #111;
    }  */
}
@media(max-width: 500px){
    .card-mid-box3::before{
        content: "";
        position: absolute;
        bottom: -34%;
        left: 50%;
        box-shadow: 0 .1rem .1rem rgb(192, 185, 185);
        transform: translate(-50%,-50%);
        width: 100%;
        height: 2px;
        background: #111;
    }
    .price{
        margin-right: -2rem;
    } 
    .lkl{
        margin-top: 2rem;
    }
}
@media (max-width: 390px){
    .realstate-box-1{
        width: 19rem;
        height: 27rem;
    }
}
/* 
.posts{
    width: 80%;
}
.tab-content1{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-flow: row wrap;
    width: 100%;
  
}
.container{
 
    width: 100%;
}
.realstate-box{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    flex-direction: column;
    width: 20rem;
    height: 25rem;
    border: 1px solid #111;
    direction: rtl;
    position: relative;
}

.card-middle{
    display: grid;
    grid-template-columns: 10rem 10rem;
} */