body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  /* overflow-x:hidden ;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column; */
}

:root{
  --blue-dark: #373a50;
  --green-light: #38c696;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url('./assets/font/IRANSansWeb_Medium.woff') format('woff');
}
/* @import url('./assets/font/IRANSansWeb.woff'); */
button, input, p, h1,h2,h3, h4,h5, span, select, option, textarea, div, a{
  /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
  /* font-family: 'Iranian Sans', sans-serif; */
  font-family: 'MyFont';
  
}
