/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.container-search {
    direction: ltr;
    display: flex;
    width: 100%;
    
}

.blog-post {
    flex: 0 0 75%;
    max-width: 75%;
  
}

.filter-asid, .filter-asid-res {
    flex: 0 0 25%;
    width: 25%;
    height: 70rem;
    box-shadow: 0 .3rem .3rem rgb(62, 61, 61);
}

.srch-target{
   
    overflow-x: hidden;
}
.type-asid {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    text-align: right;
    margin: 5px;
    padding: 20px;
    width: 80%;
    border: 1px solid #eaeff5;
    border-radius: 5px;
}

.h3-asid {
    margin-bottom: 5px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.type-asid-field{
    padding: .3rem 0;
    direction: rtl;
    font-size: .7rem;
    font-weight: 500;
}
.label-asid{
    font-size: .8rem;
}
.mt-10 {
    margin-top: 10px;
}

.button-tipic {
    background-color: #fdfefe;
    border: 1px solid #eaeff5;
    padding: 8px;
    font-size: 1rem;
}

.search-button{
    background: #3fc899;
    color: aliceblue;
    border: none;
    padding: .2rem 0;
    font-size: 1rem;
}

.button-tipic-active{
    
    border: 1px solid #eaeff5;
    padding: 8px;
    background-color: #3fc899;
    color: #fdfefe;
    font-size: 1rem;
}

.box-asid{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-fix-position{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    box-shadow: 0 .2rem .3rem #111;
    background: #fff;
}
@media (min-width:800px){
    .filter-asid-res,.search-fix-position{
        display: none;
    }
}
@media (max-width: 900px){
   
    .blog-post {
        flex: 0 0 65%;
        max-width: 65%;
      
    }
    .filter-asid-res {
        flex: 0 0 35%;
        width: 45%;
        height: 145vh;
        box-shadow: 0 .3rem .3rem rgb(62, 61, 61);
        animation: 1s forwards animationAside;
    }
   
    /* .filter-asid-res-unshow{
        animation: 1s forwards animationAsideunshow;
    } */
}
@media (max-width: 800px){
    .filter-asid{
        display: none;
    }
    .filter-asid-res {
        flex: 0 0 35%;
        width: 100%;
        height: 145vh;
        box-shadow: 0 .3rem .3rem rgb(62, 61, 61);
        animation: 1s forwards animationAside;
    }
    .search-fix-position{
        position: fixed;
        top: 7rem;
        left: 2rem;
        z-index: 10000000000;
    }
    .container-search{
        flex-direction: column-reverse;
    }
    .blog-post {
        flex: 0 0 100%;
        max-width: 100%;
        
    }
    .filter-asid-res {
        display: block;
        width: 100%;
        height: 120vh;
        box-shadow: 0 .3rem .3rem rgb(62, 61, 61);
    }
    .type-asid{
        margin: 0 auto;
        
    }
}

@media (max-width: 500px){
    .search-fix-position{
        position: fixed;
        top: 6rem;
        left: 1rem;
        z-index: 10000000000;
    }
}
@keyframes animationAside {
    from {
        transform: translateY(-100%);
        opacity: 0;
        z-index: 10;
    }
}
/* @keyframes animationAsideunshow {
    to {
        transform: translateY(-100%);
        opacity: 0;
        display: none;
    }
} */
/* select {
    padding: 10px;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
    background-color: #fdfefe;
    border: 1px solid #eaeff5;
} */